/* Body */
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
    font-weight: 400;
    line-height: 1.5;
    color:#212529;
}
/*  Menu   */
.navbar-menu{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    background-color: #000;
    box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 56%);
}
/* footer */
.ft-info{
    width: 100%;
    height: 423px;
    background-color: #000;
    color:white;
}
.information{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;

}
.content-link ul{
    padding:0px;
    text-align: start;

}

.content-link ul li {
    list-style: none;
    color: white;
}
.content-link ul li a{
    color: white;
    transition: 0.25s;
}
.content-link ul li a:hover{
    color: rgb(199, 27, 27);
}
.content-link h3{
    color: rgb(199, 27, 27);
}
.content-link .social {
    padding-top:100px ;
}
.navbar-social{
    margin-top: 50px;
}
.social ul{
    display: inline-flex;
}
.social ul li{
    padding: 0 15px;
    transition:  0.25s;
}
.social ul li a{
    font-size:  25px;

}
.social .fa-brands{
    transition: 0.25s;
}
.social .fa-brands:hover{
    color: rgb(199, 27, 27);
    transform: rotateY(-7px);
}

.social{
    text-align: center;
}
.footer-copyright{
    text-align: center;
}
footer{
    margin-top: 100px;
}

/* header and footer */
.navbar-left .lg{
    font-size: 25px ;
    color: rgb(199, 27, 27);
    letter-spacing: 5px;
    font-weight: 700;
    text-shadow: 2px 2px rgb(0 0 0 / 59%);
}
.navbar-left .go{
    text-shadow: 2px 2px rgb(0 0 0 / 59%);
    font-size: 25px;
    letter-spacing: 3px;
    color: white;
    position: relative;
}

.navbar-menu{
    position: fixed;
    width: 100%;
    top:0;
    left: -25px;
    right: 0;

}

.navbar-right ul{
    display: flex;

}
.navbar-right ul li{
    list-style: none;
    margin: 0 15px;
    font-weight: 600;

}
.navbar-right ul li a{
    color: white;
    transition: 0.5s;
}
.navbar-right ul li a:hover{
    color: rgb(199, 27, 27);
}
a{
    text-decoration: none;
}

/* Bridges */

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    /* display: none; */
    position: absolute;
    background-color: #000;
    display: none;
    min-width: 200px ;
    padding-top: 15px;
    text-align: end;
    box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 56%);
}
.dropdown-content .list-bridges{
    padding: 0px 5px;
    font-size: 18px;
}
.dropdown-content .list-bridges a{
    width: 100%;
}


.dropdown-content a:hover{color: rgb(199, 27, 27);}
.dropdown:hover .dropdown-content{display: block;}
 /*  Longest Bridges */
 
 .top-content{
    position: absolute;
    display: none;
    right: 0;
    left: 100%;
    min-width: 200px;
    top: 14px;
    text-align: start;
    padding: 10px 15px;
    background-color: #111;
    z-index: 1;
    box-shadow:  0px 0px 8px 5px rgb(0 0 0 / 56%);
 }
 .top-content a{
    font-size: 14px;
 }
 .list-bridges:hover .top-content{
    display: block;
 } 

.list-longest{
    top: 30px;
}
.list-highest{
    top:58px;
}
.list-oldest{
    top:90px; 
}

/* Contact US */
.header-ct{
    text-align: center;
    margin-top: 5%;
}
.container-ct {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    margin-top: 3%;
}
.ct-header{
    text-decoration: underline rgb(199, 27, 27);
    font-size: x-large;
}
.ctl{
    width: 60%;
    margin-right: 10%;
}
.ctl-header{
    font-size: x-large;
}
.ctl-body{
    width: 100%;
}
.input-ct{
    width: 90%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 10%;
}

.ctl-c{
    width: 100%;
    outline: none;
}
.inputt-ct{
    width:  93.7%;
    padding: 5px;
    resize: none;
    margin-bottom: 5%;
    height: 150px;
}
.ctl-b{
    width: 95.7%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}
input:focus{
    outline: none;
}
.ctl-gr{
    display: flex;
}

.ctr{
    width: 40%;
    background-color:   rgb(201, 19, 19);
    color: white;
}
.ctr-text-header{
    font-size: x-large;
    margin-left: 5%;
}
.ctr-text-information{
    margin-left: 0%;
    font-size: larger;
}
.ctr-text-gr{
    display: flex;
    width: 100%;
}
.ctr-lb1{
    width: 30%;
}
.ctr-lb2{
    width: 70%;
}
.ctr-text-information li{
    list-style-type: none;
    padding-bottom: 20%;
}
/* Feedback */
.container-fb {
    margin-right: 15%;
    margin-left: 15%;
}
.fb-header {
    text-decoration: underline rgb(199, 27, 27);
    text-align: center;
    font-size: x-large;
}
.fb-text{
    text-align: center;
}
.fb{
    width: 100%;
    margin-right: 10%;
}
.fb-body{
    width: 100%;
}
.input-fb{
    width: 90%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 2%;
}
input:focus{
    outline: none;
}
.fb-c{
    width: 100%;
    outline: none;
    margin-top: 3%;
}
.inputt-fb{
    width:  95%;
    height: 150px;
    resize: none;
    margin-top: 2%;
}
.fb-b{
    width: 97.8%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
}
.fb-gr{
    display: flex;
}
.fb-body{
    padding-left: 2.5%;
    margin-top: 5%;
}

/* About US */

.ab-main{
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.ab-header-title{
    text-decoration: underline rgb(199, 27, 27);
    font-size: x-large;
    padding-bottom: 0px;
}
.ab-ct{
    text-decoration: none;
    color: rgb(199, 27, 27)
}

.ab-ft .list-icon li a i{
    color:rgb(199, 27, 27);
}
.ab-ft .list-icon li a i:hover{
    color: #212529;
    transform:translateY(-10px);
    transition: 0.25s;
}
.ab-ft ul{
    display: inline-flex;
    list-style-type: none;
    margin-right: 40px;
}
.ab-ft ul li{
    padding: 0 15px;
    transition:  0.25s;
}
.ab-ft ul li a{
    font-size:  25px;

}
.ab-ft .fa-brands{
    transition: 0.25s;
}
.ab-ft ul li a i{
    font-size: 30px;
}